:root {
    /* colors */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #101318;
    --color-bg: #04152d;

    /* font */
    --font-roboto: "Roboto";

}